* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  color: #191919;
  letter-spacing: -0.05em;
  font-weight: 400;
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif !important;
  text-decoration: none;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.wrap {
  width: 100%;
  min-width: 1080px;
}

ol,
ul,
li,
dl,
dd,
dt,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav > li > a:focus,
nav > li > a:focus-within {
  display: block;
}

.btn {
  height: 36px;
  display: inline-block !important;
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 16px;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 14px;
  text-decoration: none;
  border-radius: 0;
  font-family: "Noto Sans KR", sans-serif;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
}
.btn:active:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}
.btn:focus {
  box-shadow: 0 0 0 0.1rem rgb(0, 0, 0);
}

.btn_sm {
  height: 30px;
  padding: 0 12px !important;
  min-width: 70px;
}

.btn_lg {
  height: 45px;
  min-width: 200px !important;
  line-height: 1;
}

.btn_bd {
  border-radius: 50rem;
}

.btn_view {
  line-height: 32px;
  background-color: #0473ea;
  border-color: #0473ea;
  height: 50px;
  border: 0;
  color: #fff;
  font-size: 16px;
}
.btn_view a {
  color: #fff;
}
.btn_view:hover {
  background: #1d80e9;
}
.btn_view :focus-visible {
  outline: 3px solid #000;
}

.btn_cert {
  background: #3c4c5b;
  color: #fff;
  border: 1px solid #3c4c5b;
}
.btn_cert a {
  color: #fff;
  font-size: 16px;
}
.btn_cert:hover {
  color: #191919;
  background-color: #eeeeee;
  border-color: #dfdfdf;
}

.icon_only {
  font-size: 0;
  border: 0;
  padding: 0;
  background: #fff;
}

.icon_arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.main_tit {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding: 75px 0 33px 0;
}

.none {
  display: none !important;
}

.overflow {
  overflow: hidden !important;
}

.m_02 {
  margin: 0.5rem !important;
}

.drop_menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.skip a {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 40px;
  text-align: center;
  color: #fff;
  z-index: 100;
  line-height: 40px;
  top: -40px;
  opacity: 0;
  transition: all 0.3s ease;
}
.skip :focus {
  opacity: 1;
  top: 0;
}

header .menu_top {
  width: 1080px;
  font-size: 13px;
  height: 43px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .menu_top .menu_top_01 {
  display: flex;
  align-items: center;
}
header .menu_top .menu_top_01 a {
  color: #717478;
  text-decoration: none;
  line-height: 33px;
  margin-right: 18px;
  padding: 10px 0 12px 0;
}
header .menu_top .menu_top_02 {
  display: flex;
  align-items: center;
  color: #717478;
  font-weight: 500;
}
header .menu_top .menu_top_02 > span {
  margin-left: 18px;
}
header .menu_top .menu_top_02 .txt_login {
  background: #eeeeee;
  color: #191919;
  padding: 2px 10px;
  border-radius: 3px;
}
header .menu_top .menu_top_02 a {
  color: #717478;
  text-decoration: none;
}
header .menu_top .menu_top_02 .drop_lang {
  position: relative;
  padding: 0;
}
header .menu_top .menu_top_02 .drop_lang:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
header .menu_top .menu_top_02 .drop_menu {
  position: absolute;
  transform: translate3d(-62px, 20px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
  min-width: 7rem;
}
header .menu_top .menu_top_02 .drop_menu.show {
  display: block;
}
header .menu_top .menu_top_02 .drop_menu .drop_menuitem {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 14px;
}
header .menu_top .menu_top_02 .drop_menu .drop_menuitem:hover {
  color: #333;
  text-decoration: none;
  background-color: #eee;
}
header h1 {
  display: flex;
  margin-bottom: 0;
  font-size: 0;
}
header .sc_logo {
  background-image: url("../img/sc_logo.png");
  width: 112px;
  height: 44px;
  display: inline-block;
  font-size: 0;
}
header .btn_icon {
  border: 0;
  background-color: #fff;
  padding: 0;
  font-size: 0;
}
header .nav_wrap {
  position: relative;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
header .nav_wrap .nav_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
  width: 1080px;
  margin: 0 auto;
}
header .nav_wrap .nav_area .gnb_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
header .nav_wrap .nav_area .gnb_wrap .gnb_area {
  display: flex;
  align-items: center;
}
header .nav_wrap .nav_area .gnb_wrap .gnb_area > li {
  padding: 31px 18px;
  cursor: pointer;
}
header .nav_wrap .nav_area .gnb_wrap .gnb_area > li > a {
  font-size: 16px;
  font-weight: 500;
  color: #191919;
}
header .nav_wrap .nav_area .gnb_wrap .gnb_area > li:hover .gm_wrap {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  z-index: 200;
}
header .nav_wrap .nav_area .gnb_wrap .gnb_area > li .gm_wrap {
  position: absolute;
  background: #fff;
  z-index: 1801;
  right: 0;
  left: 0;
  top: 85px;
  padding: 15px 0 40px 0;
  height: auto;
}
header .nav_wrap .nav_area .gnb_wrap .btn_menu {
  display: inline-block;
  width: 18px;
  height: 14px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 0;
  outline: 0;
  background-image: url("../img/icon_menu.png");
}
header .nav_wrap .nav_area .gm_area {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
header .nav_wrap .nav_area .gm_list {
  position: relative;
  width: 25%;
  padding: 0 20px;
  margin: 40px 0;
  border-left: 1px solid #eeeeee;
}
header .nav_wrap .nav_area .gm_list:nth-child(4n+1) {
  border-left: none;
}
header .nav_wrap .nav_area .gm_list:nth-child(5):before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -37px;
  width: 1080px;
  height: 1px;
  background-color: #eeeeee;
}
header .nav_wrap .nav_area .gm_list > a {
  font-size: 16px;
  font-weight: 500;
  color: #191919;
  padding: 0 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav_wrap .nav_area .gm_list > ul > li > a {
  position: relative;
  font-size: 14px;
  color: #191919;
  margin-bottom: 4px;
  display: block;
  min-height: 25px;
}
header .nav_wrap .nav_area .gm_list > ul > li > a.btn_open {
  color: #0f7aed;
  transition: 0.3s;
}
header .nav_wrap .nav_area .gm_list > ul > li > a.btn_open i {
  transform: rotate(-180deg);
}
header .nav_wrap .nav_area .gm_list > ul > li > ul {
  margin: 10px 0;
}
header .nav_wrap .nav_area .gm_list > ul > li > ul > li > a {
  transition: 1s;
  font-size: 14px;
  color: #717478;
  margin-bottom: 4px;
  display: block;
}
header .nav_wrap .nav_area .gm_list > ul > li > ul > li > a:before {
  content: "-";
  display: inline-block;
  margin-right: 5px;
}
header .icon_new {
  display: block;
  width: 28px;
  height: 14px;
  background-color: #0f7aed;
  border-radius: 3px;
  font-size: 10px;
  color: #fff;
  line-height: 12px;
  text-align: center;
}
header .icon_down {
  background: url("../img/menu_arrow.png");
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 7px;
  margin-left: 7px;
  right: 0;
  top: 8px;
  transition: 0.3s;
}
header .sitemap_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
}
header .sitemap_wrap .sitemap_area {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  margin: 0;
  outline: 0;
  height: 100vh;
}
header .sitemap_wrap .sitemap_area > .sitemap_menu {
  background: #fff;
  height: 100%;
  flex-grow: 1;
  overflow-y: auto;
}
header .sitemap_wrap.slide {
  visibility: visible;
  opacity: 1;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}
header .sitemap_header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}
header .sitemap_header .logo {
  width: 1080px;
  margin: 0 auto;
  padding: 0;
}
header .sitemap_header .btn_close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-image: url("../img/ico_close.png");
  display: inline-block;
  width: 80px;
  height: 80px;
}
header .sitemap_body {
  margin-top: 90px;
}
header .sitemap_body .all_menu_area {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 1080px;
  margin-bottom: 60px;
  border-bottom: 1px solid #eee;
}
header .sitemap_body .all_menu_area:last-child {
  margin-bottom: 0;
}
header .sitemap_body .all_menu_tit {
  width: 200px;
  color: #004ea6;
  font-size: 20px;
  font-weight: 700;
}
header .sitemap_body .all_menu_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
header .sitemap_body .all_menu_list {
  width: calc(25% - 40px);
  margin-right: 40px;
}
header .sitemap_body .all_menu_list > a {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  display: block;
}
header .sitemap_body .all_menu_list a {
  color: #191919;
  text-decoration: none;
}
header .sitemap_body .all_menu_list > ul {
  margin-bottom: 50px;
}
header .sitemap_body .all_menu_list > ul > li > a {
  font-size: 14px;
  position: relative;
  margin: 0 0px 5px 0px;
  display: block;
  word-break: keep-all;
  color: #555;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .sitemap_body .all_menu_list > ul > li > a i {
  position: initial;
}
header .sitemap_body .all_menu_list > ul > li > a.btn_open {
  color: #2772c7;
  transition: 0.3s;
}
header .sitemap_body .all_menu_list > ul > li > a.btn_open i {
  transform: rotate(-180deg);
}
header .sitemap_body .all_menu_list > ul > li > ul {
  margin: 10px 0;
}
header .sitemap_body .all_menu_list > ul > li > ul > li {
  position: relative;
  margin-left: 10px;
}
header .sitemap_body .all_menu_list > ul > li > ul > li > a {
  font-size: 13px;
  color: #555;
}
header .sitemap_body .all_menu_list > ul > li > ul > li > a:before {
  position: absolute;
  content: "-";
  display: inline-block;
  left: -10px;
}

.btn_top {
  position: fixed;
  width: 51px;
  height: 51px;
  right: 50px;
  bottom: 0;
  z-index: 1000;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  background-image: none;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  transition: all 1s cubic-bezier(0.215, 0.6, 0.355, 1);
}
.btn_top.show {
  opacity: 1;
  transform: translate(0, -200%);
}
.btn_top .top_icon_area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn_top .btn_top_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer_wrap {
  width: 100%;
  border-top: 1px solid #dfdfdf;
}
.footer_wrap .footer_area {
  width: 1080px;
  margin: 0 auto;
  padding: 33px 0;
}
.footer_wrap .footer_menu {
  display: flex;
  font-size: 14px;
  margin-bottom: 30px;
}
.footer_wrap .footer_menu li {
  position: relative;
  margin-right: 30px;
}
.footer_wrap .footer_menu li a {
  color: #000;
}
.footer_wrap .footer_menu li:after {
  position: absolute;
  content: "";
  height: 14px;
  width: 1px;
  right: -16px;
  top: 4px;
  background: #cccbcb;
}
.footer_wrap .footer_menu li:last-child:after {
  width: 0;
}
.footer_wrap .footer_info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.footer_wrap .footer_info .info_area {
  display: flex;
}
.footer_wrap .footer_info .info_area .footer_logo {
  background: url("../img/footer_logo.png");
  margin-right: 20px;
  width: 78px;
  height: 39px;
  display: inline-block;
}
.footer_wrap .footer_info .info_contents {
  color: #717478;
}
.footer_wrap .footer_info .info_contents .info_con02 {
  position: relative;
  color: #191919;
  font-weight: 500;
  margin: 0 15px 0 32px;
  display: inline-block;
}
.footer_wrap .footer_info .info_contents .info_con02:before {
  content: "";
  height: 12px;
  width: 1px;
  background: #cccbcb;
  position: absolute;
  left: -16px;
  top: 4px;
}
.footer_wrap .footer_info .copyright {
  color: #939393;
  display: inline-block;
}
.footer_wrap .footer_info .select_area .btn_group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.footer_wrap .footer_info .select_area .btn_drop {
  position: relative;
  padding: 0;
  color: #191919;
  border-color: #939393;
  white-space: nowrap;
}
.footer_wrap .footer_info .select_area .btn_drop:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.footer_wrap .footer_info .select_area .drop_menu {
  position: absolute;
  transform: translate3d(0px, -193px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}
.footer_wrap .footer_info .select_area .drop_menu.show {
  display: block;
}
.footer_wrap .footer_info .select_area .drop_menu .drop_menuitem {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 14px;
}
.footer_wrap .footer_info .select_area .drop_menu .drop_menuitem:hover {
  color: #333;
  text-decoration: none;
  background-color: #eee;
}