@media all and (max-width: 1440px) {
  .container .section02 .tit-box .menu-tit {
    font-size: 45px;
  }
  .container .section03 .tit-box .menu-tit {
    font-size: 45px;
  }
  .container .section03 .tit-box .menu-cate {
    padding-left: 60px;
  }
  .container .section03 .tit-box .menu-cate ul li {
    font-size: 15px;
  }
  .container .section04 .notice-list .desc {
    padding: 20px;
    font-size: 18px;
  }
  .container .section06 {
    padding: 130px clamp(10px, 5vw, 150px);
  }
  .container .section06 .picture ul {
    padding: 40px 20px;
  }
}